{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="banner md:p-7 px-0 py-7">
	<h1 class="m-auto mb-4 md:text-center text-left max-w-4xl text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
		Insights about IT, technologies and the in-betweens
	</h1>
</div>

{% if articles %}
<section class="flex flex-col gap-5 max-w-6xl m-auto">
	<div class="section-text">
		<h2 class="text-3xl font-bold">Popular Articles</h2>
		<hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
	</div>

	{% for item in articles %}
	<a href="{{ item.get_absolute_url }}" class="flex flex-col w-full items-stretch bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
		<img class="card-image object-cover w-full rounded-t-lg h-auto md:w-80 md:rounded-none md:rounded-l-lg" src="{{ item.images.all.0.image.url }}" alt="{{ item.images.all.0.image.description }}">

		<div class="flex flex-col justify-between p-4 leading-normal">
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
				{{ item.title }}
			</h5>
			<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
				{{ item.description|safe|escape|striptags|truncatewords_html:32 }}
			</p>
			<span class="italic font-medium text-gray-800">{{ item.pub_date|date:"j E Y"|safe|linebreaks }}</span>
		</div>
	</a>
	{% endfor %}
</section>

<div class="flex justify-center items-center mt-5">
	<a href="{% url 'articles-list' %}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
		All Publications
	</a>
</div>
{% endif %}
{% endblock content %}
