<!DOCTYPE html>
<html lang=”uk”>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog</title>
</head>

<body>
	<h1>Categories</h1>

	{% if categories %}
	{% for item in categories %}
	<div>
		<a href="{{ item.get_absolute_url }}">
			<h4>{{ item.category }}</h4>
		</a>
	</div>
	{% endfor %}
	{% endif %}


	{% if articles %}
	{% for item in articles %}
	<div>
		<a href="{{ item.get_absolute_url }}">
			<h4>{{ item.title }}</h4>
		</a>
		<h5>
			{{ item.pub_date|date:"j E Y"|safe|linebreaks }}
		</h5>
		<p>
			{{ item.description|safe|escape|striptags|truncatewords_html:32 }}
		</p>
	</div>
	{% endfor %}
	{% endif %}
	<a href="{% url 'articles-list' %}">
		<h4>All Publications</h4>
	</a>
</body>

</html>
